#box1 {
    background-color: blue;
    width: 50%;
    height: 50%;
}

#box2 {
    background-color: orange;
    width: 50%;
    height: 50%;
}

#box-container {
    height: 500px;
    /* Flex to position Two Boxes */
    display: flex;
}

/* ----------------------------------------- */

header {
    /* Add flex superpower the Tweet Embed */
    display: flex;
    /* apply the flex-direction property to create rows in the tweet embed */
    flex-direction: row;
}

header .photo-thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

header .profile-name {
    margin-left: 10px;
    /* Add flex superpower the Tweet Embed */
    display: flex;
    /* Apply the flex-direction property to create a column in the name */
    flex-direction: column;
    /* Apply the justify-content property to create a column in the name */
    justify-content: center;
}

header h2,
header h3 {
    margin: 0;
    /* Add flex superpower the Tweet Embed */
    display: flex;
}

header .follow-btn {
    margin: 0px 0px 0px auto;
    /* Add flex superpower the Tweet Embed */
    display: flex;
    /* Apply align-items property in the tweet embed */
    align-items: center;
}

header .follow-btn button {
    border: 0;
    border-radius: 3px;
    padding: 5px;
}

#inner p {
    font-size: 20px;
    margin-bottom: 10px;
}

#inner hr {
    border-style: solid;
    opacity: 0.3;
    margin: 20px 0;
}

footer {
    /* Add flex superpower the Tweet Embed */
    display: flex;
    /* apply the flex-direction property to create rows in the tweet embed */
    flex-direction: row;
}

footer .stats {
    font-size: 15px;
    /* Add flex superpower the Tweet Embed */
    display: flex;
}

footer .stats strong {
    font-size: 20px;
}

footer .stats .likes {
    margin-left: 10px;
}

footer .cta {
    margin-left: auto;
}

footer .cta button {
    border: 0;
    background: transparent;
}

/* ----------------------------------------- */

#box-container-2 {
    background-color: grey;
    height: 500px;
    display: flex;
    /* Add some flex-direction to put a flex position */
    flex-direction: row-reverse;
    /* Align elements using the justify-content property */
    justify-content: space-around;
}

#box-3 {
    background-color: red;
    height: 100%;
    width: 25%;
}

#box-4 {
    background-color: green;
    height: 100%;
    width: 25%;
}

/* ------------------------------------------ */
#box-container-3 {
    background-color: grey;
    height: 500px;
    display: flex;
    /* Align elements using the align-items property */
    align-items: center;
}

#box-5 {
    background-color: cyan;
    height: 200px;
    font-size: 24px;
}

#box-6 {
    background-color: orange;
    height: 200px;
    font-size: 12px;
}

/* --------------------------------------------- */

#box-container-4 {
    background-color: grey;
    height: 500px;
    display: flex;
    /* Align elements using the align-items property */
    align-items: center;
}

#box-7 {
    background-color: rgb(255, 0, 0);
    height: 200px;
    font-size: 24px;
}

#box-8 {
    background-color: orange;
    height: 200px;
    font-size: 12px;
}

#box-9 {
    background-color: rgb(85, 255, 0);
    height: 200px;
    font-size: 24px;
}

#box-10 {
    background-color: rgb(128, 0, 255);
    height: 200px;
    font-size: 12px;
}

#box-11 {
    background-color: cyan;
    height: 200px;
    font-size: 24px;
}

#box-12 {
    background-color: orange;
    height: 200px;
    font-size: 12px;
}